diffusers[torch]
opencv-python
pycocotools
matplotlib
onnxruntime
onnx
ipykernel
transformers
addict
yapf
timm
loguru
tqdm
scikit-image
scikit-learn
pandas
tensorboard
seaborn
open_clip_torch
SciencePlots
timm